
#intro {
	height: 300px;
	width: 600px;
	margin: 200px auto;
	text-align: center;
}

#startButton {
	margin-top: 30px;
}

#introHeader {
	font-size: 96px;
}

#introText {
	margin-top: 20px;
	font-size: 16px;
}