
html,
body {
  height: 100%;
  padding-top: 30px;
  /* The html and body elements cannot have any padding or margin. */
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;

  /* Set width to your desired site width */
  width: 1200px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  color: #555555;
}

#footer .container {
	width: 300px;
	height: 60px;
	text-align: center;
	padding-top: 10px;
  margin-top: 5px;
}

#viewBottomLeft, #viewTopLeft {
	border: 1px solid #555555;
	height: 330px;

}

#viewRight {
	border: 1px solid #555555;
	height: 660px;

}

.container, .col-md-8, .col-md-4, .col-md-7, .col-md-5, .col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
